@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes float {
	0% {
		transform: translateY(0px);
	}

	50% {
		transform: translateY(-10px);
	}

	100% {
		transform: translateY(0px);
	}
}

.float {
	animation-name: float;
	animation-duration: 2000ms;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}